# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
/.project
/.classpath
/.c9
/*.launch
/.settings
/*.sublime-workspace
/.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Visual Studio Code
.history

# Miscellaneous
/proxy.conf.json
/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
pids
logs
results
*.pid
*.seed
*.pid.lock

# Operating System
.DS_Store
Thumbs.db
